@{
  Layout = "_Layout";
}

@using Blackjack.Models;
@*@model List<Blackjack.Models.Player>;*@
@*incoming model, outgoing model*@
<h1>Players</h1>

@if (@Model.Count == 0)
{
  <h3>No players have been added yet!</h3>
} 

<ul>
@foreach (Player player in Model)
{
  <li>
    <div class="card">
      <h5 class="card-header">
        @if(player.IsDealer)
        {
          <span>Dealer: </span>
        }
        @player.Name
      </h5>
      <div class="card-body">
        <h5 class="card-title">Current Score: @player.Score</h5>
        <ul class="card-text">

          <h5>Hand: </h5>
          @foreach (var join in player.JoinEntities)
          {
            <li>@join.Card.Name</li>
          }
        
        @*@using(@Html.BeginForm("Hold"))
        {
          <input type="submit" value="Hold">
        }*@

        @using(@Html.BeginForm("Hit", "Players"))
        {
          @Html.Hidden("playerId", @player.PlayerId)
          <input type="submit" value="Hit" class="btn btn-primary">
        }
      </div>
    </div>
    
  </li>
}
</ul>



<p>@Html.ActionLink("New Game", "Index", "Home")</p>